iTunesU_site_id=iTunesU_site_id
iTunesU_site_sharedSecret=sharedSecret
admin_credential=credential
site_maintain_credential=credential
site_member_credential=credential
section_handle=handle_id
template_handle=
